* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(images/barber-sidebar-background.jpeg);
    background-color: rgb(219, 224, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-container {
    height: 260vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media only screen and (max-width: 850px) {
    #main-container {
        height: 260vh;
    }
}


.main-content {
    height: 100%;
    width: 70vw;
}
@media only screen and (max-width: 850px) {
    .main-content {
        width: 95vw;
    }
}

/********** Header section */

.header-section {
    background-color: black;
    color: white;
    text-align: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: px;
}

img {
    width: 19vw;
    height: 22vh;
    margin: 20px;
    border: 1px solid white;
}

@media only screen and (max-width: 850px) {
    img {
        width: 40vw;
    }
}

.page-header {
    font-size: 5vmin;
}

/********** Form section */

.booking-form {
    height: 180vh;
    width: 100%;
    background-color: white;
}
@media only screen and (max-width: 850px) {
    .booking-form {
        height: 250vh;
    }
}

/***** Haircuts section */

.haircuts-container {
    height: 80vh;
    width: 100%;
    background-color: white;
    overflow: scroll;
    box-shadow: 0px 1px 4px grey;
}

.section-header {
    display: flex;
    height: 15vh;
    font-size: 2.5vmin;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}
@media only screen and (max-width: 850px) {
    .section-header {
        font-size: 3.5vmin;
        height: 10vh;
    }
}

.haircuts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.haircut-option {
    background-color: white;
    height: 125px;
    width: 42%;
    margin: 20px;
    box-shadow: 1px 1px 4px grey;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.the-checkbox {
    display: none;
    visibility: hidden;
}
.haircut-option span {
    padding: 10px;
}
.haircut-option:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
@media only screen and (max-width: 850px) {
    .haircut-option {
        width: 47%;
        margin: 5px;
        font-size: small;
    }
}


/***** Day & Time section */

.day-time-container {
    display: flex;
    flex-wrap: wrap;
    height: 42vh;
    width: 100%;
    background-color: white;
}
@media only screen and (max-width: 850px) {
    .day-time-container {
        flex-wrap: wrap;
    }
}

#days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 30vh;
    overflow: scroll;
    box-shadow: 1px 1px 4px grey;
    pointer-events: none;
    text-decoration: line-through;
}
@media only screen and (max-width: 850px) {
    #days {
        width: 100%;
        overflow: scroll;
    }
}

.day {
    background-color: white;
    height: 50px;
    width: 20%;
    margin: 20px;
    box-shadow: 1px 1px 4px grey;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.day:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
@media only screen and (max-width: 850px) {
    .day {
        width: 25%;
    }
}

#time-slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 30vh;
    overflow: scroll;
    box-shadow: 1px 1px 4px grey;
    pointer-events: none;
    text-decoration: line-through;
}
@media only screen and (max-width: 850px) {
    #time-slots {
        width: 100%;
    }
}

.slot {
    background-color: white;
    height: 50px;
    width: 18%;
    margin: 20px;
    box-shadow: 1px 1px 4px grey;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.slot:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/***** select staff */
.staff-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 4px grey;
    border-bottom: 1px solid black;   
}
.staff-members {
    margin: 10px;
    outline: none;
}

/***** Haircuts section */

.your-details-container {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 4px grey;
}

#details {
    height: 30vh;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    pointer-events: none;
    text-decoration: line-through;
}
@media only screen and (max-width: 850px) {
    .your-details-container {
        height: 95vh;
    }
    #details {
        width: 100%;
    }
}

#details input {
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline: none;
}

.additional-notes {
    height: 30vh;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
@media only screen and (max-width: 850px) {
    .additional-notes {
        justify-content: center;
        align-items: center;
       width: 100%;
       height: 50vh;
       margin-top: 0;
       padding: 0;
    }
}

.additional-notes p {
    font-size: 18px;
}

.additional-notes textarea {
    height: 100px;
    width: 95%;
    font-size: 15px;
    padding: 10px;
    margin-top: 5px;
    outline: none;
}
@media only screen and (max-width: 850px) {
    .additional-notes {
        display: flex;
    }

    .additional-notes p {
        padding: 10px;
        font-size: 15px;
    }

    .additional-notes textarea {
        padding: 0;
        margin-top: 0;
        height: 150px;
        width: 95%;
    }
}
.confirm-section {
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: center;
}
#confirm-button {
    height: 40px;
    width: 120px;
    outline: none;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


/********** Order Summary Modal section */


#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .6);
    
}

.modal-content {
    background-color: white;
    background-image: url(images/barber-sidebar-background.jpeg);
    margin: auto;
    margin-top: 100px;
    padding: 0;
    width: 75%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 850px) {
    .modal-content {
        margin-top: 80px;
        height: 75%;
    }
}

.order-summary {
    display: flex;
    width: 65%;
    height: 65%;
    background-color: white;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}


.order-summary p {
    padding: 18px;
    font-size: 20px;
}

#confirm-booking-button {
    margin-top: 10px;
    height: 25px;
    width: 120px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}
@media only screen and (max-width: 850px) {
    .order-summary {
        padding: 0;
        width: 85%;
        height: 80%;
    }
    .order-summary p {
        font-size: 15px;
    }
}

